@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@font-face {
  font-family: 'Didot';
  src: url(../fonts/Didot/Didot-Bold.eot);
  src: url(../fonts/Didot/Didot-Bold.eot?#iefix) format("eot"), url(../fonts/Didot/Didot-Bold.woff) format("woff"), url(../fonts/Didot/Didot-Bold.ttf) format("truetype"), url(../fonts/Didot/Didot-Bold.svg#Didot-Bold) format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica';
  src: url(../fonts/Helvetica/Helvetica.eot);
  src: url(../fonts/Helvetica/Helvetica.eot?#iefix) format("eot"), url(../fonts/Helvetica/Helvetica.woff) format("woff"), url(../fonts/Helvetica/Helvetica.ttf) format("truetype"), url(../fonts/Helvetica/Helvetica.svg#helvlight_regular-webfont) format("svg");
  font-weight: normal;
  font-style: normal; }

html{
  overflow-y:scroll;
}
body {
  overflow: hidden !important;
  background: white;
  font-family: Helvetica;
  font-size: 16px;
  color: black;
 }

 .container {width:820px; margin: 0 auto}

 header{
   background:white;
   h1{float:left; font-family:"Didot"; font-weight:bold;font-size:24px; margin:22px 0 0  42px}
   ul{float: right;margin:27px 16px 0 0}
   li{float:left;margin:0 50px 0 0}
   a{text-decoration:none; color: black;}
   a:hover{text-decoration:underline;}
   width:100%;

   .right{
     left: 50%;
     margin-left: 410px;

   }
   .left{
     background:red;
     right: 50%;
     margin-right: 410px;
   }
   .right,.left{
     top:0;
     position:absolute;
     z-index:2;
     height:212px;
     width:100px;
     background:white;
     @include calc(width, "50% - 410px");

   }
 }

 #imartdirector{
   position:relative;
   margin:22px 0 0 0;
   background:url(../images/imartdirector.png);
   width:820px;
   height:213px;
   z-index:1;
 }

#workspace
{
  margin-top:-150px;
  z-index:0;
}

#content .photo {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 900px;
  position: relative;
}

#content .photo.responsive {
  background-size: cover;
}

#image_workspace{
  background:url(../images/workspace.jpg);
}

#image_workspace_blur{
  @include filter(blur,2px);
  background:url(../images/workspace.jpg);
}

#portfolio
{
  ul{position:absolute}
}
